.container {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formulario {
  background: var(--lavanda);
  padding: 40px 35px;
  border-radius: 16px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}

.titulo {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--fonte-titulo);
  font-size: 1.8rem;
  color: var(--roxo-escuro);
  font-weight: 700;
}

label {
  font-size: 1rem;
  color: var(--roxo-escuro);
  font-weight: 600;
}

input {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid var(--roxo-escuro);
  background: #f0ddff;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: var(--roxo-escuro);
  box-shadow: 0 0 0 3px rgba(107, 63, 160, 0.4);
}

.botao {
  width: 150px;
  margin: auto;
  margin-top: 10px;
  padding: 14px;
  border-radius: 6px;
  font-family: var(--fonte-principal);
  font-size: 15px;
  color: var(--branco-fantasma);
  cursor: pointer;
  background-color:var(--roxo-vibrante);
  transition: all 0.2s ease;
}

.botao:hover {
  width: 152px;
  font-weight: bold;
  background-color: var(--roxo-escuro);
  box-shadow: 2px 2px 4px #000000;
}